<center><h1>This is the Scottsdale Page!</h1></center>


<div class="panel panel-default col-md-4">
  <div class="panel-heading">
    <h3 class="panel-title">Kelly's Southbridge</h3>
  </div>
  <div class="panel-body">
    This is where info about Kelly's goes
  </div>
  <div class="panel-footer">
      <div class="btn btn-primary btn-xs"> Call (480) 393-3205</div>
  </div>
</div>

<div class="panel panel-default col-md-4">
  <div class="panel-heading">
    <h3 class="panel-title">AZ 88</h3>
  </div>
  <div class="panel-body">
    This is where info about AZ 88 goes
  </div>
  <div class="panel-footer">
      <div class="btn btn-primary btn-xs"> Call (480) 994-557</div>
  </div>
</div>

<div class="panel panel-default col-md-4">
  <div class="panel-heading">
    <h3 class="panel-title">Patties First Avenue Lounge</h3>
  </div>
  <div class="panel-body">
    This is where info about Patties goes
  </div>
  <div class="panel-footer">
      <div class="btn btn-primary btn-xs"> Call (480) 990-0103</div>
  </div>
</div>

<div class="panel panel-default col-md-4">
  <div class="panel-heading">
    <h3 class="panel-title">Hula's Modern Tiki</h3>
  </div>
  <div class="panel-body">
    This is where info about Hula's goes
  </div>
  <div class="panel-footer">
      <div class="btn btn-primary btn-xs"> Call (480) 970-4852</div>
  </div>
</div>

<div class="panel panel-default col-md-4">
  <div class="panel-heading">
    <h3 class="panel-title">Daily Dose Old Town Bar and Grill</h3>
  </div>
  <div class="panel-body">
    This is where info about Daily Dose goes
  </div>
  <div class="panel-footer">
      <div class="btn btn-primary btn-xs"> Call (480) 994-3673</div>
  </div>
</div>

<div class="panel panel-default col-md-4">
  <div class="panel-heading">
    <h3 class="panel-title">Loco Patron</h3>
  </div>
  <div class="panel-body">
    This is where info about Loco Patron goes
  </div>
  <div class="panel-footer">
      <div class="btn btn-primary btn-xs"> Call 
(480) 874-0033</div>
  </div>
</div>
